extends layout

block content
  h1 Add Product
  .container 
        form(action="/products" method="post")
            div.form-group
                label(for="name") Name
                input(type="text" ,class="form-control" ,id="name" ,name="name" ,placeholder="Enter Name" ,required)
            br
            div.form-group
                label(for="type") Type
                input(type="text" ,class="form-control" ,id="type" ,name="type" ,placeholder="Type",required)
            br
            div.form-group
                label(for="price") Price
                input(type="number" ,class="form-control" ,id="price" ,name="price" ,placeholder="Price",required)
            br
            button.btn.btn-primary(type="submit") Submit